<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="theModalTitle"></h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body" id="theModalBody"></div>
        <div class="modal-footer">
            <a href="#" class="btn btn-secondary" data-bs-dismiss="modal" id="theModalButtonCancel">
                Cancel
            </a>
            <input class="btn btn-primary" type="button" value="" id="theModalButtonSubmit" />
        </div>
    </div>
</div>

