<!-- vim:foldmethod=indent:ts=4
    -->

<!-- Start of Section "Data manipulation buttons" -->
<div class="row">
    <div class="col-md-9 col-sm-6">
        <button class="btn btn-primary my-2 shadow" title="Add New Record" id="AddRecordBtn">
            <i class="fas fa-plus-square"></i>
        </button>
    </div>
    <div class="col-md-3 col-sm-6">
        <input name="search" id="dataSearchField" class="form-control my-2 shadow-sm" placeholder="Search ..."  type="search"/>
    </div>
</div>
<!-- End of Section "Data manipulation buttons" -->
