<!-- vim: foldmethod=indent:ts=4 
-->
<!-- Cards -->
<div class="row mt-3" id="cardView">
  {% for object in objects %} 
    <div class="col-md-6 col-sm-12"> 
      <div class="card border-primary mb-3 p-3 shadow">
        <div class="d-flex">
          <img class="rounded" src="{{ object.physician.image.url }}" alt="{{ object.physician.name }}'s picture" width="100px" height="100px">
          <div class="flex-grow-1 ms-3">
            <h2 class="card-title"> Dr. <a class="text-decoration-none" href="#"
					   onclick="ReadDataEntry({{ object.id }})">{{ object.physician }}</a>'s clinic</h2>
            <p class="card-subtitle text-muted">{{ object.physician.speciality }}</p>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex">
            <dt>Clinic Opening time</dt>
            <dd class="flex-grow-1 ms-3">{{ object.opening_time }}</dd>
          </div>
          <div class="d-flex">
            <dt>Clinic Closing time</dt>
            <dd class="flex-grow-1 ms-3">{{ object.closing_time }}</dd>
          </div>
        </div>
        <hr>
        <div class="d-flex">
          <div class="flex-shrink">
            <div class="btn-group shadow" role="group">
              <a class="btn btn-sm btn-success" type="button" title="Edit Clinic {{ object.physician.name }}" href="#"
                onclick="UpdateDataEntry({{ object.id }})"><i class="fas fa-edit"></i></a>
              <a class="btn btn-sm btn-danger" type="button" title="Delete Clinic {{ object.physician.name }}" href="#"
                onclick="DeleteDataEntry({{ object.id }})"><i class="fas fa-trash"></i></a>
            </div>
          </div>
          <div class="flex-grow-1"></div>
          <div class="flex-shrink">
            <a href="{{ object.id }}" class="btn btn-sm btn-primary flex-shrink shadow">Go To Clinic</a>
          </div>  
        </div>
      </div>
    </div>
  {% empty %}
    <p class="alert alert-info">There are no clinics, please add one.</p>
  {% endfor %}
</div>
<!-- End Cards-->
